[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
scrapy = "*"
extruct = "*"
scrapy-playwright = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
